{% extends 'registration/auth_blank.html' %}
{% block styles %}
    <style>
        p{
            color: #198754;
            border: 1px solid #198754;
            border-radius: 5px;
            padding: .5rem;
            width: 30rem;
            margin-bottom: 0;
        }
    </style>
{% endblock %}
{% block content %}
<p>Письмо с инструкцией по смене пароля отправлено на электронную почту. Если письмо не пришло в течении нескольких минут - проверьте спам.</p>
{% endblock %}
