{% extends 'registration/auth_blank.html' %}
{% block styles %}
<style>
    input{
        width: 100%;
    }
</style>
{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
        <table>
            {% if form.email.errors %}
            <tr>
                <td>{{ form.email.errors }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>{{ form.email.label_tag }}<td>
            </tr>
            <tr>
                <td>{{ form.email }}<td></td>
            </tr>
        </table>
    <input type="submit" class="btn btn-primary" value="Сбросить пароль" />
</form>
{% endblock %}
