{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example" class="itertable">
    <ul class="pagination list-itertable">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" value="{{ 1 }}" href="?page=1">«</a></li>
    <li class="page-item"><a class="page-link" value="{{ page_obj.previous_page_number }}" href="?page={{ page_obj.previous_page_number }}">‹</a></li>
    {% endif %}
    {% for p in paginator.page_range %}
    {% if page_obj.number == p %}
    <li class="page-item"><a class="page-link active-page" value="{{ p }}" href="?page={{ p }}">{{ p }}</a></li>
    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
    <li class="page-item"><a class="page-link" value="{{ p }}" href="?page={{ p }}">{{ p }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" value="{{ page_obj.next_page_number }}" href="?page={{ page_obj.next_page_number }}">›</a></li>
    <li class="page-item"><a class="page-link" value="{{ paginator.num_pages }}" href="?page={{ paginator.num_pages }}">»</a></li>
    {% endif %}
    </ul>
</nav>
{% endif %}
