<table class="table-statistic">
    <tr>
        <th>Дельта:</th><td>{{ delta }}</td>
    </tr>
    <tr>
        <th>Оборот:</th><td>{{ convolution.0 }}</td>
    </tr>
    <tr>
        <th>Смены:</th><td>{{ count }}</td>
    </tr>
    <tr>
        <th>Смен в день:</th><td>{{ avg_ws_count }}</td>
    </tr>
    <tr>
        <th>Ср. дельта смены:</th><td>{{ avg_ws_delta }}</td>
    </tr>
    <tr>
        <th>Маржинальность:</th><td>{{ margin }}</td>
    </tr>
    <tr>
        <th>Рапорты:</th><td>{{ raports }}</td>
    </tr>
    <tr>
        <th>Их. документы:</th><td>{{ documents.0 }}</td>
    </tr>
    <tr>
        <th>Вх. документы:</th><td>{{ documents.1 }}</td>
    </tr>
</table>
