th.workshifts:nth-child(1){
    width: 10%;
}
th.workshifts:nth-child(2){
    width: 20%;
}
th.workshifts:nth-child(3){
    width: 20%;
}
th.workshifts:nth-child(4){
    width: 25%;
}
th.workshifts:nth-child(5){
    width: 25%;
}
